* {
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    color: #430d0e;
}

/* **************** HEADER ******************* */

header {
    text-align: center;
}

h1 {
    font-size: 40px;  
}

header p {
    font-weight: bold;
}

/* **************** INPUT AREA ******************* */

#input_area {
    width: 100%;
}

.input_item {
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
}

input.input_item {
    width: 200px;
}

button.input_item {
    border-radius: 5px;
    height: 35px;
    width: 200px;
    background-color: antiquewhite;
}

button.input_item:hover {
    background-color: lightcoral;
    border: 1px solid black;
}

#converted_weight {
    background-color: lightcyan;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    line-height: 50px;
}

/* **************** FOOTER ******************* */

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}